<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.interest.dao.InterestGatherDAO">

    <insert id="insertInterest" parameterType="Interest"  useGeneratedKeys="true" keyProperty="interestId">
        insert into interest_interest(
        name, type_id,is_leaf,parent_id)
        values(#{nodeName},#{typeId},#{isLeaf}, #{parentId})
    </insert>

    <insert id="insertType" parameterType="Type"  useGeneratedKeys="true" keyProperty="typeId">
        insert into interest_type(type,name,author,tags,times,stars,love,dislike)
        values (#{type}, #{name},#{author},#{tags},#{times}, #{stars},#{like},#{dislike})
    </insert>

    <select id="getInterestById" parameterType="int" resultType="Interest">
        select
        interest_id as interestId,
        name as nodeName,
        type_id as typeId,
        parent_id as parentId,
        is_leaf as isLeaf
        from interest_interest
        where interest_id = #{id} limit 1;
    </select>

    <select id="getTypeById" parameterType="int" resultType="Type">
        select
        id as typeId,type,name,author,tags,times,stars,love,dislike
        from interest_type
        where id = #{typeId}
        limit 1;
    </select>

    <select id="getInterestByName" parameterType="string" resultType="Interest">
        select
        interest_id as interestId,
        name as nodeName,
        type_id as typeId,
        parent_id as parentId,
        is_leaf as isLeaf
        from interest_interest
        where name = #{name} limit 1;
    </select>

    <select id="getTypeByName" parameterType="java.util.Map" resultType="Type">
        select
        id as typeId,type,name,author,tags,times,stars,love,dislike
        from interest_type
        where type = #{type} and name = #{name} and author = #{author}
        limit 1;
    </select>

    <select id="getInterestsByUserId" parameterType="int" resultType="list">
        select
        a.interest_id as interestId,
        a.name as nodeName,
        a.type_id as typeId,
        a.parent_id as parentId,
        a.is_leaf as isLeaf
        from interest_interest a inner join interest_user_interest b on a.interest_id = b.interest_id
        where b.user_id = #{userId} ;
    </select>

    <select id="getUserInterestList" resultType="UserInterest">
        select
        id as id,
        user_id as userId,
        interest_id as interestId,
        weight as weight
        from interest_user_interest
        where user_id in
        <foreach item="item" collection="userIds" separator="," open="(" close=")" index="">
            #{item}
        </foreach>
        and interest_id in
        <foreach item="item" collection="interestIds" separator="," open="(" close=")" index="">
            #{item}
        </foreach>
        ;
    </select>

    <select id="getUserInterest" parameterType="java.util.Map" resultType="UserInterest">
        select
        id as id,
        user_id as userId,
        interest_id as interestId,
        weight as weight
        from interest_user_interest
        where
        user_id = #{userId} and interest_id = #{interestId}
    </select>

    <insert id="insertUserInterest" parameterType="UserInterest" keyProperty="id">
        insert into interest_user_interest(
        user_id,
        interest_id,
        weight)
        values
        (
        #{userId},
        #{interestId},
        #{weight})
    </insert>
    <update id="updateUserInterest" parameterType="UserInterest">
        UPDATE interest_user_interest
        set
        weight = #{weight}
        where id = #{id}
    </update>

</mapper>